@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-weight-bold: 600;
	--font-weight-medium: 500;
	--font-weight-light: 400;
	--font-family: 'Wotfard', 'Wotfard-fallback', sans-serif;
	--font-family-mono: 'League Mono', 'Fira Mono', monospace;
	--font-family-spicy: 'Sriracha', 'Wotfard', Futura, -apple-system, sans-serif;
	--reach-dialog: 1;
}

html {
	font-family: var(--font-family);
}
html,
body {
	height: 100%;
}
* {
	margin: 0px;
	line-height: calc(1em + 0.725rem);
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
